@import url('https://fonts.googleapis.com/css?family=Asap|Pacifico&display=swap');

main {
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
}

body {
    font-family: 'Asap', sans-serif;
    background: rgb(174, 175, 235);
}

main {
    background: rgb(240, 218, 222);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0px;
}